.sh_display_positive_qty{
    background-color: green;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    font-size: 12px;
    left: 4px;
    line-height: 12px;
    z-index: 1000;
    color: white;
    padding: 2px 5px;
}
.sh_display_positive_qty span,.sh_display_nagative_qty span{line-height: 12px;}
.sh_display_nagative_qty{
    background-color: red; 
    border-radius: 3px; 
    position: absolute; 
    top: 2px;  
    font-size: 12px;  
    left: 4px; line-height: 12px;   
    z-index: 1000;  
    color: white; 
    padding: 2px 5px;
}